<footer class="footer">
  <div class="foot-container">
    <div class="blocks">
      <div class="logo-images">
        <img
          srcset="./img/vegetable.jpg 1x, ./img/vegetable-2x.jpg 2x"
          src="./img/vegetable.jpg"
          alt="Veggie boost logo"
        />
        <a href="" class="footer-logo">
          <svg class="foot-logo-icon" viewBox="0 0 17 16">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg>
          veggieboost</a
        >
      </div>
      <div class="footer-menu">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="#order">How It Works</a>
          </li>
          <li class="footer-nav-item"><a href="#vegetables">Vegetables</a></li>
          <li class="footer-nav-item"><a href="#contacts">Contacts</a></li>
        </ul>
      </div>
    </div>
    <div class="social-contact">
      <ul class="foot-social-list">
        <li class="foot-social-item">
          <a
            href=""
            class="foot-social-item-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="facebook"
          >
            <svg class="foot-social-icon" width="44" height="44">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="foot-social-item">
          <a
            href=""
            class="foot-social-item-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="instagram"
          >
            <svg class="foot-social-icon" width="44" height="44">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="foot-social-item">
          <a
            href=""
            class="foot-social-item-link"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="youtube"
          >
            <svg class="foot-social-icon" width="44" height="44">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <address class="footer-contact">
        <ul class="footer-contact-list">
          <li class="footer-contact-item">
            <a class="footer-tel" href="tel:+380684439426"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="footer-contact-item">
            <a class="footer-address"
              >1678 S. Pioneer Road<br />Salt Lake City<br />UT 84104</a
            >
          </li>
        </ul>
      </address>
    </div>
  </div>
</footer>
