<header class="page-header">
  <div class="header-container">
    <nav class="header-menu">
      <ul class="header-navigation">
        <li class="header-nav-item">
          <a href="#order">How It Works</a>
        </li>
        <li class="header-nav-item">
          <a href="#vegetables">Vegetables</a>
        </li>
        <li class="header-nav-item">
          <a href="#contacts">Contacts</a>
        </li>
      </ul>
      <a class="header-logo" href="./index.html">
        <svg class="header-logo-svg">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
        veggieboost</a
      >
    </nav>

    <button
      type="button"
      class="header-btn-shop data-modal-open"
      aria-label="shopping cart"
    >
      <svg class="header-shop-svg">
        <use href="./img/sprite.svg#icon-shopping-cart"></use>
      </svg>
    </button>
    <button
      type="button"
      class="header-btn-menu menu-toggle js-open-menu"
      aria-label="icon menu"
    >
      <svg class="header-menu-svg">
        <use href="./img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <div class="mob-menu js-menu-container">
    <div class="mob-menu-header">
      <a class="header-logo" href="./index.html">
        <svg class="header-logo-svg">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
        veggieboost</a
      >
      <button
        type="button"
        class="mob-btn-close menu-toggle js-close-menu-btn is-close"
        aria-label="icon close"
      >
        <svg class="mob-close-svg">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="mob-content">
      <ul class="mob-navigation">
        <li class="mob-nav-item js-close-menu">
          <a href="#order">How It Works</a>
        </li>
        <li class="mob-nav-item js-close-menu">
          <a href="#vegetables">Vegetables</a>
        </li>
        <li class="mob-nav-item js-close-menu">
          <a href="#contacts">Contacts</a>
        </li>
      </ul>
      <button
        type="button"
        class="mob-btn-shop js-close-menu data-modal-open"
        aria-label="icon close"
      >
        <svg class="mob-shop-svg">
          <use href="./img/sprite.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
