<header class="page-header">
  <div class="header-container">
    <nav class="header-menu">
      <ul class="header-navigation">
        <li class="header-nav-item">How It Works</li>
        <li class="header-nav-item">Vegetables</li>
        <li class="header-nav-item">Contacts</li>
      </ul>
      <a class="header-logo" href="../index.html">
        <svg class="header-logo-svg">
          <use href="../img/sprite.svg#icon-logo"></use>
        </svg>
        veggieboost</a
      >
    </nav>

    <button type="button" class="header-btn-shop">
      <svg class="header-shop-svg">
        <use href="../img/sprite.svg#icon-shopping-cart"></use>
      </svg>
    </button>
    <button type="button" class="header-btn-menu">
      <svg class="header-menu-svg">
        <use href="../img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>

  <div class="mob-menu">
    <div class="mob-header">
      <a class="mob-logo" href="../index.html">
        <svg class="mob-logo-svg">
          <use href="../img/sprite.svg#icon-logo"></use>
        </svg>
        veggieboost</a
      >
      <button type="button" class="mob-btn-close">
        <svg class="mob-close-svg">
          <use href="../img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="mob-content">
      <ul class="mob-navigation">
        <li class="mob-nav-item">How It Works</li>
        <li class="mob-nav-item">Vegetables</li>
        <li class="mob-nav-item">Contacts</li>
      </ul>
      <button type="button" class="mob-btn-shop">
        <svg class="mob-shop-svg">
          <use href="../img/sprite.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
