<section class="hero" id="hero">
  <div class="hero-container">
    <div class="hero-info" data-aos="fade-right">
      <ul class="reviewer-list">
        <li class="reviewer-item">
          <picture>
            <source
              srcset="./img/reviewer-1.webp 1x, ./img/reviewer-1-2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="./img/reviewer-1.jpg 1x, ./img/reviewer-1-2x.jpg 2x"
              type="image/jpg"
            />
            <img
              srcset="./img/reviewer-1.webp 1x, ./img/reviewer-1-2x.webp 2x"
              src="./img/reviewer-1.webp"
              type="image/webp"
              alt="user avatar"
              width="70"
              height="70"
            />
          </picture>
        </li>
        <li class="reviewer-item">
          <picture>
            <source
              srcset="./img/reviewer-2.webp 1x, ./img/reviewer-2-2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="./img/reviewer-2.jpg 1x, ./img/reviewer-2-2x.jpg 2x"
              type="image/jpg"
            />
            <img
              srcset="./img/reviewer-2.webp 1x, ./img/reviewer-2-2x.webp 2x"
              src="./img/reviewer-2.webp"
              type="image/webp"
              alt="user avatar"
              width="70"
              height="70"
            />
          </picture>
        </li>
        <li class="reviewer-item">
          <picture>
            <source
              srcset="./img/reviewer-2.webp 1x, ./img/reviewer-2-2x.webp 2x"
              type="image/webp"
            />
            <source
              srcset="./img/reviewer-2.jpg 1x, ./img/reviewer-2-2x.jpg 2x"
              type="image/jpg"
            />
            <img
              srcset="./img/reviewer-2.webp 1x, ./img/reviewer-2-2x.webp 2x"
              src="./img/reviewer-2.webp"
              type="image/webp"
              alt="user avatar"
              width="70"
              height="70"
            />
          </picture>
        </li>
        <li class="reviewer-item">
          <div class="review-container">
            <span class="rev-span1">2k</span>
            <span class="rev-span2">reviews</span>
          </div>
        </li>
      </ul>
      <h1 class="hero-title">
        organic <span class="hero-title-span">vegetables</span> to your diet
        today!
      </h1>
      <p class="hero-desc">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
      <button type="button" class="hero-btn data-modal-open">shop now</button>
    </div>
    <picture class="girl" data-aos="fade-left">
      <source
        srcset="
          ./img/girl-hero-desktop.webp    1x,
          ./img/girl-hero-desktop-2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/girl-hero-desktop.png    1x,
          ./img/girl-hero-desktop-2x.png 2x
        "
        type="image/png"
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/girl-hero-tablet.webp    1x,
          ./img/girl-hero-tablet-2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/girl-hero-tablet.png 1x, ./img/girl-hero-tablet-2x.png 2x"
        type="image/png"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/girl-hero-mobile.webp    1x,
          ./img/girl-hero-mobile-2x.webp 2x
        "
        media="(min-width: 375px)"
        type="image/webp"
      />
      <source
        srcset="./img/girl-hero-mobile.png 1x, ./img/girl-hero-mobile-2x.png 2x"
        media="(min-width: 375px)"
        type="image/png"
      />
      <img
        src="./img/girl-hero-desktop.png"
        alt="smile happy girl"
        width="515"
        height="423"
      />
    </picture>
    <ul class="page-nav" data-aos="fade-left">
      <li class="page-nav-item current">
        <a class="page-nav-link" href="#hero">#organic</a>
      </li>
      <li class="page-nav-item">
        <a class="page-nav-link" href="#order">#products</a>
      </li>
      <li class="page-nav-item">
        <a class="page-nav-link" href="#contacts">#basket</a>
      </li>
      <li class="page-nav-item">
        <a class="page-nav-link" href="#vegetables">#vegetables</a>
      </li>
    </ul>
  </div>
</section>
