<section class="hero">
  <div class="hero-container">
    <div class="hero-info">
      <ul class="reviewer-list">
        <li class="reviewer-item">
          <img
            srcset="./img/reviewer-1.jpg 1x, ./img/reviewer-1-2x.jpg 2x"
            src="./img/reviewer-1.jpg"
            alt="user avatar"
          />
        </li>
        <li class="reviewer-item">
          <img
            srcset="./img/reviewer-2.jpg 1x, ./img/reviewer-2-2x.jpg 2x"
            src="./img/reviewer-2.jpg"
            alt="user avatar"
          />
        </li>
        <li class="reviewer-item">
          <img
            srcset="./img/reviewer-3.jpg 1x, ./img/reviewer-3-2x.jpg 2x"
            src="./img/reviewer-3.jpg"
            alt="user avatar"
          />
        </li>
        <li class="reviewer-item">
          <div class="review-container">
            <span class="rev-span1">2k</span>
            <span class="rev-span2">reviews</span>
          </div>
        </li>
      </ul>
      <h1 class="hero-title">
        organic <span class="hero-title-span">vegetables</span> to your diet
        today!
      </h1>
      <p class="hero-desc">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
      <button type="button" class="hero-btn hero-modal-open">shop now</button>
    </div>
    <picture class="girl">
      <source
        srcset="
          ./img/girl-hero-desktop.png    1x,
          ./img/girl-hero-desktop-2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/girl-hero-tablet.png 1x, ./img/girl-hero-tablet-2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/girl-hero-mobile.png 1x, ./img/girl-hero-mobile-2x.png 2x"
        media="(min-width: 375px)"
      />
      <img src="./img/girl-hero-desktop.png" alt="smile happy girl" />
    </picture>
    <ul class="page-nav">
      <li class="page-nav-item current">
        <a class="page-nav-link" href="">#organic</a>
      </li>
      <li class="page-nav-item">
        <a class="page-nav-link" href="">#products</a>
      </li>
      <li class="page-nav-item">
        <a class="page-nav-link" href="">#basket</a>
      </li>
      <li class="page-nav-item">
        <a class="page-nav-link" href="">#vegetables</a>
      </li>
    </ul>
  </div>
</section>
