<section class="vegetables-table">
        <h4 class="vegetables-title">oRGANIC vegetables</h4>
        <p>Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible. </p>
    <div>
        <ul class="vegetables-list list">
        <li>
            <div class="vegetables-list-container">
            <picture>
                <source srcset="
                ./src/img/carrot.png 1x,
                ./src/img/carrot-2x.png 2x"
                media="(min-width: 1280px)" />
                <source srcset="
                ./src/img/carrot.png,
                ./src/img/carrot-2x.png"
                media="(min-width: 768px)" />
                <source srcset="
                ./src/img/carrot.png,
                ./src/img/carrot-2x.png"
                media="(min-width: 375px)" />
                <img src="./src/img/carrot.png" alt="Carrot">
            </picture>
            </div>
        </li>
    </ul>
    </div>
    
</section>