<section class="vegetables">
  <div class="vegetables-container">
    <div class="veg-title-container">
      <h4 class="vegetables-title">oRGANIC vegetables</h4>
      <p class="vegetables-descr">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <div class="vegetables-main-container">
      <ul class="vegetables-list list">
        <li class="vegetables-list-item">
          <div>
            <h5 class="veg-name">Carrot</h5>
            <p class="veg-type">Plant</p>
          </div>
          <img src="../img/carrot.png" alt="Carrot" />
          <picture>
            <source
              srcset="./src/img/carrot.png 1x, ./src/img/carrot-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./src/img/carrot.png, ./src/img/carrot-2x.png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./src/img/carrot.png, ./src/img/carrot-2x.png"
              media="(min-width: 375px)"
            />
          </picture>
          <p class="veg-price">100 UAH / kg</p>
        </li>
        <li class="vegetables-list-item">
          <div>
            <h5 class="veg-name">Brussel sprouts</h5>
            <p class="veg-type">Plant</p>
          </div>
          <img src="../img/brussel.png" alt="Brussel sprouts" />

          <picture>
            <source
              srcset="./src/img/brussel.png 1x, ./src/img/brussel-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./src/img/brussel.png, ./src/img/brussel-2x.png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./src/img/brussel.png, ./src/img/brussel-2x.png"
              media="(min-width: 375px)"
            />
          </picture>
          <p class="veg-price">80 UAH / kg</p>
        </li>
        <li class="vegetables-list-item">
          <div>
            <h5 class="veg-name">Tomato</h5>
            <p class="veg-type">Plant</p>
          </div>
          <img src="../img/tomato.png" alt="Tomato" />

          <picture>
            <source
              srcset="./src/img/tomato.png 1x, ./src/img/tomato-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./src/img/tomato.png, ./src/img/tomato-2x.png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./src/img/tomato.png, ./src/img/tomato-2x.png"
              media="(min-width: 375px)"
            />
          </picture>
          <p class="veh-price">40 UAH / kg</p>
        </li>
        <li class="vegetables-list-item">
          <div>
            <h5 class="veg-name">Eggplant</h5>
            <p class="veg-type">Plant</p>
          </div>
          <img src="../img/eggplant.png" alt="Eggplant" />

          <picture>
            <source
              srcset="./src/img/eggplant.png 1x, ./src/img/eggplant-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./src/img/eggplant.png, ./src/img/eggplant-2x.png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./src/img/eggplant.png, ./src/img/eggplant-2x.png"
              media="(min-width: 375px)"
            />
          </picture>
          <p class="veg-price">60 UAH / kg</p>
        </li>
        <li class="vegetables-list-item">
          <div>
            <h5 class="veg-name">Sweet potatoes</h5>
            <p class="veg-type">Plant</p>
          </div>
          <img src="../img/potatoes.png" alt="Sweet potatoes" />

          <picture>
            <source
              srcset="./src/img/potatoes.png 1x, ./src/img/potatoes-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./src/img/potatoes.png, ./src/img/potatoes-2x.png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./src/img/potatoes.png, ./src/img/potatoes-2x.png"
              media="(min-width: 375px)"
            />
          </picture>
          <p class="veg-price">80 UAH / kg</p>
        </li>
        <li class="vegetables-list-item">
          <div>
            <h5 class="veg-name">Leek</h5>
            <p class="veg-type">Plant</p>
          </div>
          <img src="../img/leek.png" alt="Leek" />

          <picture>
            <source
              srcset="./src/img/leek.png 1x, ./src/img/leek-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./src/img/leek.png, ./src/img/leek-2x.png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./src/img/leek.png, ./src/img/leek-2x.png"
              media="(min-width: 375px)"
            />
          </picture>
          <p class="veg-price">50 UAH / kg</p>
        </li>
        <li class="vegetables-list-item">
          <div>
            <h5 class="veg-name">Mushrooms</h5>
            <p class="veg-type">Plant</p>
          </div>
          <img src="../img/mushrooms.png" alt="Mushrooms" />

          <picture>
            <source
              srcset="./src/img/mushrooms.png 1x, ./src/img/mushrooms-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./src/img/mushrooms.png, ./src/img/mushrooms-2x.png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./src/img/mushrooms.png, ./src/img/mushrooms-2x.png"
              media="(min-width: 375px)"
            />
          </picture>
          <p class="veg-price">40 UAH / kg</p>
        </li>
        <li class="vegetables-list-item">
          <div>
            <h5 class="veg-name">Corn</h5>
            <p class="veg-type">Plant</p>
          </div>
          <img src="../img/corn.png" alt="Corn" />

          <picture>
            <source
              srcset="./src/img/corn.png 1x, ./src/img/corn-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./src/img/corn.png, ./src/img/corn-2x.png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./src/img/corn.png, ./src/img/corn-2x.png"
              media="(min-width: 375px)"
            />
          </picture>
          <p class="veg-price">60 UAH / kg</p>
        </li>
        <li class="vegetables-list-item">
          <div>
            <h5 class="veg-name">Radish</h5>
            <p class="veg-type">Plant</p>
          </div>
          <img src="../img/radish.png" alt="Radish" />

          <picture>
            <source
              srcset="./src/img/radish.png 1x, ./src/img/radish-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./src/img/radish.png, ./src/img/radish-2x.png"
              media="(min-width: 768px)"
            />
            <source
              srcset="./src/img/radish.png, ./src/img/radish-2x.png"
              media="(min-width: 375px)"
            />
          </picture>
          <p class="veg-price">90 UAH / kg</p>
        </li>
      </ul>
    </div>
  </div>
</section>
