<div class="backdrop data-modal is-hidden">
  <div class="modal-window modal-case">
    <button type="button" class="modal-close-btn data-modal-close">
      <svg class="modal-close-btn-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Your Order</h2>
    <ul class="modal-card-list list">
      <li class="modal-card-item">
        <input
          type="checkbox"
          class="input-checkbox visually-hidden"
          id="checked-product-cabbage"
          name="checked-product"
          value="true"
          checked
        />
        <label for="checked-product-cabbage" class="form-checkbox">
          <span>
            <h3 class="modal-card-title modal-card-padding">Cabbage Basket</h3>
            <p class="modal-card-text modal-card-padding">Plant</p>
          </span>
          <img
            srcset="./img/cabbage.png 1x, ./img/cabbage-2x.png 2x"
            src="./img/cabbage.png"
            alt="Cabbage"
            class="modal-card-img" />
          <span class="modal-span-chekbox">
            <svg class="checkbox-icon" width="9" height="9">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg> </span
        ></label>
      </li>
      <li class="modal-card-item">
        <input
          type="checkbox"
          class="input-checkbox visually-hidden"
          id="checked-product-tomato"
          name="checked-product"
          value="true"
        />
        <label for="checked-product-tomato" class="form-checkbox">
          <span>
            <h3 class="modal-card-title modal-card-padding">Tomato Basket</h3>
            <p class="modal-card-text modal-card-padding">Plant</p>
          </span>
          <img
            srcset="./img/tomatos.png 1x, ./img/tomatos-2x.png 2x"
            src="./img/tomatos.png"
            alt="Tomatos"
            class="modal-card-img" />
          <span class="modal-span-chekbox">
            <svg class="checkbox-icon" width="9" height="9">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg> </span
        ></label>
      </li>
      <li class="modal-card-item">
        <input
          type="checkbox"
          class="input-checkbox visually-hidden"
          id="checked-product-vegetables"
          name="checked-product"
          value="true"
        />
        <label for="checked-product-vegetables" class="form-checkbox">
          <span>
            <h3 class="modal-card-title modal-card-padding">
              Vegetables Basket
            </h3>
            <p class="modal-card-text modal-card-padding">Plant</p>
          </span>
          <img
            srcset="./img/vegetables-2.png 1x, ./img/vegetables-2-2x.png 2x"
            src="./img/vegetables-2.png"
            alt="Vegetables"
            class="modal-card-img" />
          <span class="modal-span-chekbox">
            <svg class="checkbox-icon" width="9" height="9">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg> </span
        ></label>
      </li>
    </ul>
    <form class="modal-form">
      <div class="modal-field">
        <input
          type="text"
          class="form-input"
          id="user-name"
          name="user-name"
          placeholder="Enter full name..."
        />
        <input
          type="email"
          class="form-input"
          id="user-email"
          name="user-email"
          placeholder="Enter email..."
        />
        <input
          type="number"
          class="form-input"
          id="user-card"
          name="user-card"
          placeholder="Enter card..."
        />
        <textarea
          name="user-comments"
          id="user-comments"
          class="user-comment"
          cols="30"
          rows="10"
          placeholder="Enter comments..."
        ></textarea>
      </div>
      <button type="submit" class="submit-btn">Submit</button>
    </form>
    <picture class="modal-background-img">
      <source
        srcset="
          ./img/girl-1-modal-desktop.png    1x,
          ./img/girl-1-modal-desktop-2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/girl-1-modal-tablet.png    1x,
          ./img/girl-1-modal-tablet-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <img src="./img/girl-1-modal-desktop.png" alt="girl with leaves" />
    </picture>
  </div>
</div>
