<div class="backdrop data-modal is-hidden">
  <div class="modal-window modal-case">
    <button type="button" class="modal-close-btn data-modal-close">
      <svg class="modal-close-btn-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Your Order</h2>
    <form class="modal-form">
      <ul class="modal-card-list list">
        <li class="modal-card-item">
          <input
            type="checkbox"
            class="input-checkbox visually-hidden"
            id="checked-product-cabbage"
            name="checked-product"
            value="true"
            checked
          />
          <label for="checked-product-cabbage" class="form-checkbox">
            <span class="modal-card-padding">
              <span class="modal-card-title">Cabbage Basket</span>
              <span class="modal-card-text">Plant</span>
            </span>
            <picture class="modal-card-img">
              <source
                srcset="
                  ./img/cabbage-desktop.webp    1x,
                  ./img/cabbage-desktop-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/cabbage-desktop.png    1x,
                  ./img/cabbage-desktop-2x.png 2x
                "
                type="image/png"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/cabbage-tablet.webp    1x,
                  ./img/cabbage-tablet-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/cabbage-tablet.png    1x,
                  ./img/cabbage-tablet-2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/cabbage-mobile.webp    1x,
                  ./img/cabbage-mobile-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 375px)"
              />
              <source
                srcset="
                  ./img/cabbage-mobile.png    1x,
                  ./img/cabbage-mobile-2x.png 2x
                "
                type="image/png"
                media="(min-width: 375px)"
              />
              <img
                srcset="
                  ./img/cabbage-mobile.png    1x,
                  ./img/cabbage-mobile-2x.png 2x
                "
                src="./img/cabbage-mobile.png"
                alt="Cabbage"
                width="243"
                height="200"
                loading="lazy"
              />
            </picture>
            <span class="modal-span-chekbox">
              <svg class="checkbox-icon" width="9" height="9">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg> </span
          ></label>
        </li>
        <li class="modal-card-item">
          <input
            type="checkbox"
            class="input-checkbox visually-hidden"
            id="checked-product-tomato"
            name="checked-product"
            value="true"
          />
          <label for="checked-product-tomato" class="form-checkbox">
            <span class="modal-card-padding">
              <span class="modal-card-title">Tomato Basket</span>
              <span class="modal-card-text">Plant</span>
            </span>
            <picture class="modal-card-img">
              <source
                srcset="
                  ./img/tomatos-desktop.webp    1x,
                  ./img/tomatos-desktop-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/tomatos-desktop.png    1x,
                  ./img/tomatos-desktop-2x.png 2x
                "
                type="image/png"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/tomatos-tablet.webp    1x,
                  ./img/tomatos-tablet-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/tomatos-tablet.png    1x,
                  ./img/tomatos-tablet-2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/tomatos-mobile.webp    1x,
                  ./img/tomatos-mobile-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 375px)"
              />
              <source
                srcset="
                  ./img/tomatos-mobile.png    1x,
                  ./img/tomatos-mobile-2x.png 2x
                "
                type="image/png"
                media="(min-width: 375px)"
              />
              <img
                srcset="
                  ./img/tomatos-mobile.png    1x,
                  ./img/tomatos-mobile-2x.png 2x
                "
                src="./img/tomatos-mobile.png"
                alt="tomatos"
                width="243"
                height="200"
                loading="lazy"
              />
            </picture>
            <span class="modal-span-chekbox">
              <svg class="checkbox-icon" width="9" height="9">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg> </span
          ></label>
        </li>
        <li class="modal-card-item">
          <input
            type="checkbox"
            class="input-checkbox visually-hidden"
            id="checked-product-vegetables"
            name="checked-product"
            value="true"
          />
          <label for="checked-product-vegetables" class="form-checkbox">
            <span class="modal-card-padding">
              <span class="modal-card-title">Vegetables Basket </span>
              <span class="modal-card-text">Plant</span>
            </span>
            <picture class="modal-card-img">
              <source
                srcset="
                  ./img/vegetables-2-desktop.webp    1x,
                  ./img/vegetables-2-desktop-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/vegetables-2-desktop.png    1x,
                  ./img/vegetables-2-desktop-2x.png 2x
                "
                type="image/png"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/vegetables-2-tablet.webp    1x,
                  ./img/vegetables-2-tablet-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables-2-tablet.png    1x,
                  ./img/vegetables-2-tablet-2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/vegetables-2-mobile.webp    1x,
                  ./img/vegetables-2-mobile-2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 375px)"
              />
              <source
                srcset="
                  ./img/vegetables-2-mobile.png    1x,
                  ./img/vegetables-2-mobile-2x.png 2x
                "
                type="image/png"
                media="(min-width: 375px)"
              />
              <img
                srcset="
                  ./img/vegetables-2-mobile.webp    1x,
                  ./img/vegetables-2-mobile-2x.webp 2x
                "
                src="./img/vegetables-2-mobile.webp"
                alt="vegetables"
                width="243"
                height="200"
                loading="lazy"
              />
            </picture>

            <span class="modal-span-chekbox">
              <svg class="checkbox-icon" width="9" height="9">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg> </span
          ></label>
        </li>
      </ul>
      <div class="modal-field">
        <input
          type="text"
          class="form-input"
          id="user-name"
          name="user-name"
          placeholder="Enter full name..."
          required
          pattern="[a-zA-Z ]"
        />
        <input
          type="email"
          class="form-input"
          id="user-email"
          name="user-email"
          placeholder="Enter email..."
          required
          pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        />
        <input
          type="number"
          class="form-input"
          id="user-card"
          name="user-card"
          placeholder="Enter card..."
          required
        />
        <textarea
          name="user-comments"
          id="user-comments"
          class="user-comment"
          cols="30"
          rows="10"
          placeholder="Enter comments..."
        ></textarea>
      </div>
      <button type="submit" class="submit-btn">Submit</button>
    </form>
    <picture class="modal-background-img">
      <source
        srcset="
          ./img/girl-1-modal-desktop.webp    1x,
          ./img/girl-1-modal-desktop-2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/girl-1-modal-desktop.png    1x,
          ./img/girl-1-modal-desktop-2x.png 2x
        "
        type="image/png"
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/girl-1-modal-tablet.webp    1x,
          ./img/girl-1-modal-tablet-2x.webp 2x
        "
        type="image/webp"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/girl-1-modal-tablet.png    1x,
          ./img/girl-1-modal-tablet-2x.png 2x
        "
        type="image/png"
        media="(min-width: 768px)"
      />
      <img
        src="./img/girl-1-modal-tablet.webp"
        alt="girl with leaves"
        width="444"
        height="413"
        loading="lazy"
      />
    </picture>
  </div>
</div>
