.footer {
  background-color: var(--color-green-light);
  padding: 80px 0;
}

.foot-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 20px;
  margin: 0 auto;
}

.foot-container .blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.logo-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo-images img {
  border-radius: 100px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.foot-logo-icon {
  width: 17px;
  height: 16px;
}

.foot-logo-icon-text {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.foot-logo-text {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.28;
  text-transform: uppercase;
}

.footer-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-nav-item {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 1.28;
}

.social-contact {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.foot-social-list {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.foot-social-item {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid #141414;
}

.foot-social-item:is(:hover, :focus) {
  border-color: var(--color-green);
}

.foot-social-item:is(:hover, :focus) .foot-social-icon {
  fill: var(--color-green);
}

.foot-social-icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.address {
  font-style: normal;
}

.footer-contact {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

.footer-contact-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contact-item {
  font-style: normal;
  text-align: center;
  letter-spacing: -0.04em;
  font-size: 14px;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .foot-container {
    max-width: 375px;
  }
}

/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .foot-container {
    flex-direction: row;
    max-width: 768px;
    padding: 0 32px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .foot-social-item {
    width: 44px;
    height: 44px;
  }

  .footer-contact-item {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
  .foot-container {
    flex-direction: row;
    max-width: 1280px;
    padding: 0 142px 0 32px;
    justify-content: space-between;
    align-items: flex-start;
  }

  .foot-container .blocks {
    flex-direction: row;
    gap: 166px;
  }

  .foot-social-item {
    width: 44px;
    height: 44px;
  }

  .footer-contact-item {
    font-size: 18px;
    line-height: 1.33;
    text-align: left;
  }
}
