.hero {
  background-color: #a1c487;
}
.hero-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 48px 20px 20px 20px;
  background-color: #a1c487;
}
.reviewer-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 14px;
}
.reviewer-item img {
  border: 2px solid white;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.rev-span1 {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}
.rev-span2 {
  color: #141414;
  text-align: center;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.32px;
}
.reviewer-item:not(:first-child) {
  margin-left: -16px;
}
.hero-title {
  max-width: 335px;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.hero-title-span {
  font-style: italic;
  color: var(--color-green-light);
}
.hero-desc {
  max-width: 335px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.04em;
  margin-bottom: 20px;
}

.hero-btn {
  color: var(--color-orange);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-background);
  transform: rotate(-14deg);
}

.hero-btn:hover,
.hero-btn:focus {
  color: #a1c487;
  background-color: #eaf7e5;
}
.page-nav {
  align-self: flex-end;
  max-width: 169px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 4px;
}
.page-nav-item {
  display: flex;
  padding: 7px 13px;
  border: 1px solid #fff;
  border-radius: 1000px;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  transition: color var(--transition), background-color var(--transition);
}

.page-nav-item:is(:hover, :focus) {
  background-color: white;
  color: #141414;
}

.page-nav:not(:hover, :focus) .current {
  background-color: white;
  color: #141414;
}
.girl {
  align-self: center;
  width: 278px;
  height: 228px;
  margin-bottom: 16px;
}
/* MEDIA */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .hero-container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-container {
    max-width: 768px;
    padding: 64px 32px 32px 32px;
  }

  .reviewer-item:not(:first-child) {
    margin-left: -20px;
  }

  .reviewer-list {
    margin-bottom: 16px;
  }
  .hero-title {
    max-width: 768px;
    font-size: 54px;
    line-height: 1.18;
    margin-bottom: 16px;
  }
  .hero-desc {
    max-width: 490px;
    margin-bottom: 32px;
  }
  .reviewer-item img {
    width: 54px;
    height: 54px;
  }
  .review-container {
    width: 54px;
    height: 54px;
  }
  .rev-span1 {
    font-size: 18px;
    line-height: 1.33;
  }
  .rev-span2 {
    font-size: 10px;
    line-height: 1.2;
  }
  .hero-btn {
    width: 114px;
    height: 114px;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 16px;
  }
  .girl {
    width: 466px;
    height: 380px;
    overflow: visible;
    margin-bottom: 8px;
  }
  .page-nav {
    max-width: 215px;
  }
  .page-nav-item {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    padding: 127px 32px 32px 32px;
    max-width: 1280px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reviewer-item:not(:first-child) {
    margin-left: -25px;
  }

  .reviewer-list {
    margin-bottom: 16px;
  }

  .reviewer-item img {
    width: 70px;
    height: 70px;
  }
  .review-container {
    width: 70px;
    height: 70px;
  }
  .rev-span1 {
    font-size: 24px;
    line-height: 1;
  }
  .rev-span2 {
    font-size: 12px;
    line-height: 1.16;
  }

  .hero-title {
    max-width: 672px;
    font-size: 64px;
    line-height: 1.17;
  }
  .hero-desc {
    max-width: 491px;
    margin-bottom: 32px;
  }
  .girl {
    width: 515px;
    height: 423px;
    overflow: visible;
  }
  .hero-info {
    width: 672px;
    display: flex;
    flex-direction: column;
  }
  .hero-btn {
    width: 132px;
    height: 132px;
    font-size: 28px;
    line-height: 1;
    margin-bottom: 8px;
  }
  .page-nav {
    max-width: 266px;
    /* align-self: flex-end; */
    margin-left: auto;
  }
  .page-nav-item {
    padding: 11px 32px;
    font-size: 12px;
    line-height: 1.16;
  }
}
